*.vo
*.vos
*.vok
*.glob
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
.DS_Store
.vscode/
.idea/
coq/.Makefile.d
coq/.lia.cache
coq/.nia.cache
coq/.Makefile.d
coq/.lia.cache
coq/.nia.cache
.Makefile.d
.lia.cache
.nia.cache
